[Desktop Entry]
Name=dnfdragora
Name[af]=dnfdragora
Name[bg]=dnfdragora
Name[ca]=dnfdragora
Name[cs]=dnfdragora
Name[da]=dnfdragora
Name[de]=dnfdragora
Name[el]=dnfdragora
Name[en_GB]=dnfdragora
Name[eo]=dnfdragora
Name[es]=dnfdragora
Name[et]=dnfdragora
Name[eu]=dnfdragora
Name[fr]=dnfdragora
Name[he]=dnfdragora
Name[hi]=dnfdragora
Name[hr]=dnfdragora
Name[hu]=dnfdragora
Name[id]=dnfdragora
Name[it]=dnfdragora
Name[ja]=dnfdragora
Name[lt]=dnfdragora
Name[nb]=dnfdragora
Name[nl]=dnfdragora
Name[pl]=dnfdragora
Name[pt]=dnfdragora
Name[pt_BR]=dnfdragora
Name[ru]=dnfdragora
Name[sk]=dnfdragora
Name[sl]=dnfdragora
Name[sq]=dnfdragora
Name[sr]=dnfdragora
Name[sv]=dnfdragora
Name[tr]=DnfDragora
Name[uk]=dnfdragora
Name[zh_CN]=dnfdragora
Name[zh_TW]=dnfdragora
GenericName=Install & Remove Software
GenericName[af]=Installeer en verwyder sagteware
GenericName[ar]=تثبيت وحذف البرمجيات
GenericName[ast]=Instalar y Desaniciar Software
GenericName[bg]=Инсталиране и премахване на софтуер
GenericName[bn]=সফটওয়্যার ইন্সটল এবং সরিয়ে ফেলুন
GenericName[br]=Staliañ ha distaliañ poelladoù
GenericName[ca]=Instal·leu i elimineu programari
GenericName[cs]=Instalovat a odebírat software
GenericName[cy]=Gosod a thynnu  meddalwedd
GenericName[da]=Installér og fjern software
GenericName[de]=Installieren & Entfernen von Software
GenericName[el]=Εγκατάσταση και απεγκατάσταση λογισμικού
GenericName[en_GB]=Install & Remove Software
GenericName[eo]=Instali kaj Forigi Programojn
GenericName[es]=Instalar y quitar aplicaciones
GenericName[es_419]=Instalar & Eliminar Programas
GenericName[et]=Tarkvara paigaldamine ja eemaldamine
GenericName[eu]=Softwarea instalatu eta kendu
GenericName[fi]=Asenna ja poista ohjelmia
GenericName[fr]=Installer et désinstaller des logiciels
GenericName[gl]=Instalar e eliminar software
GenericName[he]=התקנה והסרה של תוכנה
GenericName[hi]=सॉफ्टवेयर इंस्टॉल करें व हटाएँ
GenericName[hr]=Instaliraj i ukloni software
GenericName[hu]=Szoftver telepítése & eltávolítása
GenericName[id]=Install & Hapus Software
GenericName[is]=Setja inn og fjarlægja hugbúnað
GenericName[it]=Installa e rimuovi software
GenericName[ja]=ソフトウェアのインストールと削除
GenericName[ko]=소프트웨어 설치/제거
GenericName[ky]=Программаны орнотуу жана өчүрүү
GenericName[lt]=Įdiegti ir šalinti programinę įrangą
GenericName[ltg]=Instalēt & Nūjimt programmaturu
GenericName[ms]=Pasang & Buang Perisian
GenericName[nb]=Installer og fjern programvare
GenericName[nl]=Software installeren & verwijderen
GenericName[nn]=Installer og fjern programvare
GenericName[pl]=Wgrywanie i usuwanie oprogramowania
GenericName[pt]=Instalar e remover programas
GenericName[pt_BR]=Instalar e Remover Programas
GenericName[ro]=Instalați & Înlăturați aplicații
GenericName[ru]=Установка и удаление программ
GenericName[sk]=Inštalácia a odstránenie softvéru
GenericName[sl]=Namestite in odstranite programe
GenericName[sq]=Instalo & Hiq Programe
GenericName[sr]=Инсталирај и уклони софтвер
GenericName[sv]=Installera och ta bort program
GenericName[tg]=Насб ва тоза кардани нармафзор
GenericName[tr]=Yazılım Kur & Kaldır
GenericName[uk]=Встановлення або вилучення програм
GenericName[uz]=Dasturlarni oʻrnatish va olib tashlash
GenericName[vi]=Cài đặt và gỡ bỏ phần mềm
GenericName[wa]=Astaler eyet oister des programes
GenericName[zh_CN]=安装 & 移除软件
GenericName[zh_HK]=安裝與移除軟體
GenericName[zh_TW]=安裝與移除軟體
Icon=dnfdragora
Exec=dnfdragora
Comment=A graphical front end for installing, removing and updating packages
Comment[af]=’n Grafiese program vir die installasie, verwydering en bywerking van pakkette
Comment[ar]=واجهة رسومية لتثبيت الحزم وإزالتها وتحديثها
Comment[ast]=Un frontal gráficu pa instalar, desaniciar y anovar paquetes
Comment[bg]=Графична среда за инсталиране, премахване и обновяване на пакети
Comment[br]=Un etrefas evit staliañ, distaliañ ha bremanaet pakadoù
Comment[ca]=Una interfície gràfica per instal·lar, eliminar i actualitzar paquets
Comment[cs]=Grafický nástroj pro instalaci, odstranění a aktualizaci balíčků
Comment[cy]=Gwyneb graffigol ar gyfer pori pecynnau sydd wedi eu gosod ac sydd ar gael
Comment[da]=En grafisk brugergrænseflade for installering, fjernelse og opdatering af programpakker
Comment[de]=Eine grafische Benutzerschnittstelle zum Installieren, Entfernen und Aktualisieren von Paketen
Comment[el]=Μια εφαρμογή για εγκατάσταση, αφαίρεση και ενημέρωση πακέτων
Comment[en_GB]=A graphical front end for installing, removing and updating packages
Comment[eo]=Grafika fasado por instali, forigi kaj ĝisdatigi pakaĵojn
Comment[es]=Una interfaz gráfica para instalar, desinstalar y actualizar paquetes
Comment[et]=Tarkvara paigaldamise, eemaldamise ja uuendamise graafiline kasutajaliides
Comment[eu]=Paketeak instalatu, ezabatu eta eguneratzeko bitarteko grafiko bat
Comment[fi]=Graafinen käyttöliittymä pakettien asentamiseen, päivittämiseen ja poistamiseen.
Comment[fr]=Une interface graphique pour installer, supprimer et mettre à jour les paquetages
Comment[gl]=Unha interface gráfica para instalar, eliminar e actualizar paquetes
Comment[he]=גישור גלוי גרפי להתקנה, הסרה ועדכון של חבילות
Comment[hi]=पैकेज इंस्टॉल करने, हटाने व अपडेट करने हेतु एक चित्रात्मक माध्यम
Comment[hu]=Grafikus felület csomagok telepítéséhez, törléséhez és frissítéséhez
Comment[id]=Front end grafis untuk menginstall, menghapus dan mengupdate paket
Comment[is]=Grafískt viðmót til að setja inn, fjarlægja og uppfæra hugbúnað
Comment[it]=Un'interfaccia grafica per installare, rimuovere e aggiornare pacchetti
Comment[ja]=パッケージのインストール, 削除, 更新を行うためのグラフィカル フロント エンド
Comment[ky]=Пакеттерди орнотуу, өчүрүү жана жаңылоо графикалык интерфейси
Comment[lt]=Grafinės naudotojo sąsaja, skirta diegti, šalinti ir atnaujinti paketus
Comment[mk]=Графички интерфејс за инсталирање, отстранување и ажурирање на пакети
Comment[ms]=Antara depan bergrafik untuk memasang, membuang dan mengemaskini pakej
Comment[nb]=Grafisk grensesnitt for installering, fjerning og oppdatering av pakker.
Comment[nl]=Een grafische schil voor het installeren, verwijderen en bijwerken van pakketten
Comment[nn]=Eit grafisk brukargrensesnitt for installering, fjerning og oppdatering av programpakkar.
Comment[pl]=Graficzna nakładka do wgrywania, usuwania i uaktualniania pakietów
Comment[pt]=Interface gráfica para instalar, remover e atualizar pacotes
Comment[pt_BR]=Uma Interface gráfica para instalar, remover e atualizar Programas
Comment[ro]=O interfață grafică pentru instalarea, înlăturarea și actualizarea pachetelor
Comment[ru]=Графический интерфейс для установки, удаления и обновления пакетов
Comment[sk]=Grafické rozhranie pre inštaláciu, odstránenie a aktualizáciu balíkov
Comment[sl]=Grafični vmesnik za nameščanje, odstranjevanje in posodabljanje paketov
Comment[sq]=Një instalim grafik, heqjen dhe përditësimin e paketave
Comment[sr]=Графички фронтенд за инсталацију, уклањање и надоградњу пакета
Comment[sv]=Ett grafiskt gränssnitt för installation, borttagning och uppdatering av paket
Comment[tr]=Paketleri kurmak, kaldırmak ve güncellemek için grafiksel bir önyüz
Comment[uk]=Графічний інтерфейс для встановлення, вилучення і оновлення пакунків
Comment[wa]=Ene eterface grafike po-z astaler, oister et mete a djoû les pacaedjes
Comment[zh_CN]=安装、删除和更新软件包的图形化工具
Comment[zh_TW]=安裝、移除與更新軟體套件
Terminal=false
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=false

