[Desktop Entry]
Name=dnfdragora-updater
Name[ca]=Actualitzador de dnfdragora
Name[cs]=dnfdragora-aktualizátor
Name[de]=dnfdragora-updater
Name[fr]=dnfdragora-updater
Name[hu]=Csomagfrissítő
Name[ja]=dnfdragora-updater
Name[nb]=dnfdragora oppdaterer
Name[sl]=dnfdragora-updater
Name[uk]=Оновлювач dnfdragora
Name[zh_TW]=dnfdragora 更新程式
GenericName=Tray-icon to check for updates
GenericName[ca]=Icona per comprovar les actualitzacions
GenericName[cs]=Ikona v oznamovací části panelu pro zkontrolování aktualizací
GenericName[de]=Tray-Symbol um nach Updates suchen
GenericName[hu]=Tálca-ikon a frissítések ellenőrzéséhez
GenericName[ja]=更新確認用トレイ アイコン
GenericName[nb]=Dokk ikon for sjekking av oppdateringer
GenericName[sl]=Ikona sistemske vrstice za preverjanje posodobitev
GenericName[uk]=Піктограма лотка для перевірки оновлень
GenericName[zh_TW]=用來檢查更新的系統匣圖示
Icon=dnfdragora
Exec=dnfdragora-updater
Comment=Automatically check for updates and notify
Comment[ca]=Comprova automàticament si hi ha actualitzacions i notifica-m'ho
Comment[cs]=Automaticky zkontrolovat aktualizace a dát zprávu
Comment[de]=Automatisch nach Aktualisierungen suchen und benachrichtigen
Comment[fr]=Vérifier automatiquement les mises à jour et me le faire savoir
Comment[hu]=Frissítések automatikus ellenőrzése és értesítés
Comment[ja]=自動的に更新を確認して通知します
Comment[nb]=Automatisk sjekk for oppdateringer med varsel
Comment[sl]=Samodejno preverjanje posodobitev in obveščanje
Comment[uk]=Автоматично шукає оновлення і сповіщає про них
Comment[zh_TW]=自動檢查更新並通知
Terminal=false
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=false
