[Desktop Entry]
Name=dnfdragora-updater
Name[af]=dnfdragora-bywerkings
Name[ast]=dnfdragora-updater
Name[bg]=dnfdragora-updater
Name[ca]=Actualitzador de dnfdragora
Name[cs]=dnfdragora-aktualizátor
Name[da]=dnfdragora-updater
Name[de]=dnfdragora-updater
Name[el]=Εγκαταστάτης Πακέτων dnfdragora
Name[en_GB]=dnfdragora-updater
Name[eo]=dnfdragora-ĝisdatigilo
Name[es]=dnfdragora-updater
Name[et]=dnfdragora-updater
Name[eu]=dnfdragora-updater
Name[fi]=dnfdragora-päivitysohjelma
Name[fr]=dnfdragora-updater
Name[gl]=dnfdragora-updater
Name[he]=dnfdragora-updater
Name[hi]=dnfdragora-अपडेट साधन
Name[hu]=dnfdragora csomagfrissítő
Name[id]=pembaruan-dnfdragora
Name[ie]=dnfdragora-updater
Name[it]=dnfdragora-updater
Name[ja]=dnfdragora-updater
Name[ka]=dnfdragora-updater
Name[ko]=dnfdragora-업데이터
Name[lt]=dnfdragora-updater
Name[nb]=dnfdragora oppdaterer
Name[nl]=dnfdragora-updater
Name[pl]=dnfdragora-updater
Name[pt]=dnfdragora-updater
Name[pt_BR]=dnfdragora-updater
Name[ru]=dnfdragora-updater
Name[sk]=dnfdragora-aktualizátor
Name[sl]=dnfdragora-updater
Name[sq]=dnfdragora-përditësues
Name[sr]=dnfdragora-алат за надоградњу
Name[sv]=Uppdatera dnfdragora
Name[tr]=DnfDragora-Güncelleyici
Name[uk]=Оновлювач dnfdragora
Name[zh_CN]=dnfdragora-updater
Name[zh_TW]=dnfdragora 更新程式
GenericName=Tray-icon to check for updates
GenericName[bg]=Икона за уведомления при проверка за актуализации
GenericName[ca]=Icona per comprovar les actualitzacions
GenericName[cs]=Ikona v oznamovací části panelu pro zkontrolování aktualizací
GenericName[da]=Bakkeikon til at søge efter opdateringer
GenericName[de]=Tray-Symbol um nach Updates zu suchen
GenericName[en_GB]=Tray-icon to check for updates
GenericName[eo]=Kesto-ikono por kontroli ĝisdatigojn
GenericName[es]=Icono de bandeja para comprobar actualizaciones
GenericName[et]=Süsteemisalve ikoon uuenduste kontrollimiseks
GenericName[eu]=Erretilu-ikonoa eguneraketak egiaztatzeko
GenericName[fi]=Paneelikuvake päivitysten tarkistamiseen
GenericName[fr]=Icône pour vérifier les mises à jour
GenericName[gl]=Icona da área de notificación para comprobar se hai actualizacións
GenericName[he]=סמל במגש המערכת שמודיע על עדכונים
GenericName[hi]=अपडेट खोजने हेतु ट्रे-आइकन
GenericName[hu]=Tálca-ikon a frissítések ellenőrzéséhez
GenericName[id]=Ikon-Tray untuk memeriksa pembaruan
GenericName[ie]=Un icone por controlar li actualisamentes
GenericName[it]=Icona nel vassoio per controllare gli aggiornamenti
GenericName[ja]=更新確認用トレイ アイコン
GenericName[ka]=სისტემური პანელის ხატულა განახლებების შესამოწმებლად
GenericName[ko]=업데이트 확인을 위한 트레이-아이콘
GenericName[lt]=Dėklo piktograma, skirta tikrinti ar yra atnaujinimų
GenericName[nb]=Dokk ikon for sjekking av oppdateringer
GenericName[nl]=Taakbalk-pictogram om te controleren op updates
GenericName[pl]=Ikona na tacce do wyszukiwania uaktualnień
GenericName[pt]=Ícone na barra de tarefas para verificar atualizações
GenericName[pt_BR]=Ícone da bandeja para verificar atualizações
GenericName[ru]=Пиктограмма трея для проверки обновлений
GenericName[sk]=Ikona na paneli na kontrolu aktualizácií
GenericName[sl]=Ikona sistemske vrstice za preverjanje posodobitev
GenericName[sq]=Tray-icon për kërkim përditësime 
GenericName[sr]=Иконица у траци за проверу доступности надоградњи
GenericName[sv]=Aktivitetsikon för uppdateringskontroll
GenericName[tr]=Güncellemeleri denetlemek için tepsi simgesi
GenericName[uk]=Піктограма лотка для перевірки оновлень
GenericName[zh_CN]=用于检查更新的托盘图标
GenericName[zh_TW]=用來檢查更新的系統列圖示
Icon=dnfdragora
Exec=dnfdragora-updater
Comment=Automatically check for updates and notify
Comment[af]=Kontroleer outomaties vir bywerkings en gee ’n kennisgewing
Comment[bg]=Автоматична проверка за актуализации с уведомяване
Comment[ca]=Comprova automàticament si hi ha actualitzacions i notifica-m'ho
Comment[cs]=Automaticky zkontrolovat aktualizace a dát zprávu
Comment[da]=Søg automatisk efter opdateringer og giv besked
Comment[de]=Automatisch nach Aktualisierungen suchen und benachrichtigen
Comment[en_GB]=Automatically check for updates and notify
Comment[eo]=Aŭtomate kontroli ĝisdatigojn kaj sciigi
Comment[es]=Comprobar actualizaciones y notificar atomáticamente
Comment[et]=Uuenduste automaatne kontroll ja teavitamine
Comment[eu]=Automatikoki eguneraketak egiaztatu eta jakinarazi
Comment[fi]=Tarkistaa päivitykset ja ilmoittaa niistä
Comment[fr]=Vérifier automatiquement les mises à jour et me le faire savoir
Comment[gl]=Comprobar automaticamente se hai actualizacións e notificar
Comment[he]=לבדוק אוטומטית אם יש עדכונים ולהודיע
Comment[hi]=स्वतः ही अपडेट खोजकर सूचित करें
Comment[hr]=Automatski provjeri za ažuriranja i obavijesti 
Comment[hu]=Frissítések automatikus ellenőrzése és értesítés
Comment[id]=Memeriksa untuk pembaruan otomatis dan pemberitahuan
Comment[ie]=Automaticmen controlar e notificar pri li actualisamentes
Comment[it]=Controlla e notifica gli aggiornamenti automaticamente
Comment[ja]=自動的に更新を確認して通知します
Comment[ka]=განახლების ავტომატური შემოწმება და გაფრთხილება
Comment[ko]=업데이트 자동 확인 및 알림
Comment[lt]=Automatiškai tikrinti ir pranešti ar yra atnaujinimų
Comment[nb]=Automatisk sjekk for oppdateringer med varsel
Comment[nl]=Automatisch controleren op updates en dit melden
Comment[pl]=Sam wyszukuj uaktualnień i powiadamiaj o nich
Comment[pt]=Procura e notifica o utilizador sobre as atualizações disponíveis
Comment[pt_BR]=Verificar automaticamente por atualizações e notificar
Comment[ru]=Автоматически искать обновления и сообщать о них
Comment[sk]=Automatická kontrola aktualizácií s notifikáciou
Comment[sl]=Samodejno preverjanje posodobitev in obveščanje
Comment[sq]=Kontrolloni automatikisht për përditësime dhe njoftoni
Comment[sr]=Аутоматски проверава надоградње и обавештава
Comment[sv]=Kontrollera automatiskt efter uppdateringar och meddela
Comment[tr]=Güncellemeleri kendiliğinden denetle ve bilgilendir
Comment[uk]=Автоматично шукає оновлення і сповіщає про них
Comment[zh_CN]=自动检查更新并显示提醒
Comment[zh_TW]=自動檢查更新並通知
Terminal=false
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=false
