[Desktop Entry]
Name=dnfdragora Package Installer
Name[ca]=Instal·lador de paquets dnfdragora
Name[cs]=Instalátor balíčků dnfdragora
Name[de]=dnfdragora Paket-Installationsprogramm
Name[hu]=dnfdragora Csomagtelepítő
Name[nb]=dnfdragora installerer
Name[uk]=Засіб встановлення пакунків dnfdragora
GenericName=RPM Package Installer
GenericName[ca]=Instal·lador de paquets RPM
GenericName[cs]=Instalátor balíčků RPM
GenericName[de]=RPM-Paket-Installationsprogramm
GenericName[hu]=RPM Csomagtelepítő
GenericName[nb]=RPM pakke installerer
GenericName[uk]=Встановлювач пакунків RPM
Icon=dnfdragora
Exec=dnfdragora --install %F
Comment=Install local packages on the system
Comment[ca]=Instal·leu paquets locals al sistema
Comment[cs]=Instalovat místní balíčky do systému
Comment[de]=Lokale Pakete auf dem System installieren
Comment[hu]=Helyi csomagok telepítése a rendszerre
Comment[nb]=Installer lokal pakke på systemet
Comment[uk]=Встановлює локальні пакунки у системі
Terminal=false
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=true
NoDisplay=true
MimeType=application/x-rpm;application/x-redhat-package-manager;


