[Desktop Entry]
Name=dnfdragora Package Installer
Name[af]=dnfdragora-pakketinstallasie
Name[bg]=Инсталатор на dnfdragora пакети
Name[ca]=Instal·lador de paquets dnfdragora
Name[cs]=Instalátor balíčků dnfdragora
Name[da]=dnfdragora-pakkeinstallationsprogram
Name[de]=dnfdragora Paket-Installationsprogramm
Name[en_GB]=dnfdragora Package Installer
Name[eo]=Dnfdragora Pakaĵa Instalilo
Name[es]=Instalador de paquetes dnfdragora
Name[et]=dnfdragora tarkvara paigaldaja
Name[eu]=dnfdragora pakete instalatzailea
Name[fi]=dnfdragora pakettien asentaja
Name[fr]=Gestionnaire de logiciels dnfdragora
Name[he]=אשף התקנת החבילות dnfdragora
Name[hi]=dnfdragora पैकेज इंस्टॉलर
Name[hr]=dnfdragora Instaler paketa
Name[hu]=dnfdragora Csomagtelepítő
Name[id]=Installer paket dnfdragora
Name[ie]=Installator de paccages dnfdragora
Name[it]=dnfdragora programma di installazione pacchetti
Name[ja]=dnfdragora パッケージ インストーラ
Name[ko]=dnfdragora 패키지 설치 프로그램
Name[lt]=dnfdragora paketų diegimo programa
Name[nb]=dnfdragora installerer
Name[nl]=dnfdragora pakket-installatieprogramma
Name[pl]=dnfdragora - wgrywanie pakietów
Name[pt]=Instalador de pacotes - dnfdragora
Name[pt_BR]=Instalador de pacotes dnfdragora
Name[ru]=Средство установки пакетов dnfdragora
Name[sk]=dnfdragora inštalátor balíkov
Name[sl]=Program za namestitev paketov - dnfdragora
Name[sq]=dnfdragora instalues Pakete
Name[sr]=dnfdragora Инсталер пакета
Name[sv]=Paketinstallerare för dnfdragora
Name[tr]=DnfDragora Paket Kurucusu
Name[uk]=Засіб встановлення пакунків dnfdragora
Name[zh_CN]=dnfdragora软件包安装器
Name[zh_TW]=dnfdragora 軟體套件安裝程式
GenericName=RPM Package Installer
GenericName[af]=RPM-pakketinstallasie
GenericName[bg]=Инсталатор на RPM пакети
GenericName[ca]=Instal·lador de paquets RPM
GenericName[cs]=Instalátor balíčků RPM
GenericName[da]=RPM-pakkeinstallationsprogram
GenericName[de]=RPM-Paket-Installationsprogramm
GenericName[el]=Εγκαταστάτης Πακέτων RPM
GenericName[en_GB]=RPM Package Installer
GenericName[eo]=RPMa Pako-Instalilo
GenericName[es]=Instalador de paquetes RPM
GenericName[et]=Tarkvarapakettide paigaldaja
GenericName[eu]=RPM pakete instalatzailea
GenericName[fi]=RPM-pakettien asentaja
GenericName[fr]=Gestionnaire de paquetages RPM
GenericName[he]=אשף התקנת חבילות RPM
GenericName[hi]=RPM पैकेज इंस्टॉलर
GenericName[hr]=Instaler RPM paketa
GenericName[hu]=RPM Csomagtelepítő
GenericName[id]=Installer Paket RPM
GenericName[ie]=Installator de paccages RPM
GenericName[it]=Programma di installazione pacchetti RPM
GenericName[ja]=RPM パッケージ インストーラ
GenericName[ko]=RPM 패키지 설치 프로그램
GenericName[lt]=RPM paketų diegimo programa
GenericName[nb]=RPM pakke installerer
GenericName[nl]=RPM pakket-installatieprogramma
GenericName[pl]=Wgrywanie pakietów RPM
GenericName[pt]=Instalador de pacotes RPM
GenericName[pt_BR]=Instalador de pacotes RPM
GenericName[ru]=Установщик пакетов RPM
GenericName[sk]=Inštalátor RPM balíkov
GenericName[sl]=Program za namestitev paketov RPM
GenericName[sq]=RPM Instalues Pakete
GenericName[sr]=Инсталер RPM пакета
GenericName[sv]=RPM-paketinstallerare
GenericName[tr]=RPM Paketi Kurucusu
GenericName[uk]=Встановлювач пакунків RPM
GenericName[zh_CN]=RPM软件包安装器
GenericName[zh_TW]=RPM 軟體套件安裝程式
Icon=dnfdragora
Exec=dnfdragora --install %F
Comment=Install local packages on the system
Comment[af]=Installeer plaaslike pakkette op die stelsel
Comment[bg]=Инсталирайте локални пакети в системата
Comment[ca]=Instal·leu paquets locals al sistema
Comment[cs]=Instalovat místní balíčky do systému
Comment[da]=Installer lokale pakker på systemet
Comment[de]=Lokale Pakete auf dem System installieren
Comment[el]=Εγκατάσταση τοπικών πακέτων στο σύστημα
Comment[en_GB]=Install local packages on the system
Comment[eo]=Instali lokajn pakaĵojn en la sistemo
Comment[es]=Instalar paquetes locales
Comment[et]=Kohalike tarkvarapakettide paigaldamine süsteemi
Comment[eu]=Instalatu sisteman pakete lokalak
Comment[fi]=Asenna paikalliset paketit järjestelmään
Comment[fr]=Installer des paquetages locaux sur le système
Comment[he]=התקנת חבילות מקומיות על המערכת
Comment[hi]=सिस्टम पर लोकल पैकेज इंस्टॉल करें
Comment[hr]=Instaliraj lokalne pakete u sustav
Comment[hu]=Helyi csomagok telepítése a rendszerre
Comment[id]=Install paket lokal pada sistem
Comment[ie]=Installar local paccages a vor sistema
Comment[it]=Installa pacchetti locali nel sistema
Comment[ja]=システム上のローカル パッケージをインストールします
Comment[ko]=시스템에 로컬 패키지 설치
Comment[lt]=Įdiegti vietinius paketus sistemoje
Comment[nb]=Installer lokal pakke på systemet
Comment[nl]=Installeer lokale pakketten op het systeem
Comment[pl]=Wgrywaj pakiety z lokalnego systemu
Comment[pt]=Instalar pacotes locais no sistema
Comment[pt_BR]=Instalar pacotes locais no sistema
Comment[ru]=Установить локальные пакеты в систему
Comment[sk]=Nainštalovanie lokálnych balíkov do systému
Comment[sl]=Namestitev shranjenih paketov na sistem
Comment[sq]=Instalo paketat lokalizuar në sistem
Comment[sr]=Инсталирај локалне пакете на систем
Comment[sv]=Installera lokala paket på systemet.
Comment[tr]=Yerel paketleri sisteme kur
Comment[uk]=Встановлює локальні пакунки у системі
Comment[zh_CN]=将本地软件包安装到系统
Comment[zh_TW]=安裝本機軟體套件到系統上
Terminal=false
Type=Application
Categories=System;Settings;PackageManager;
StartupNotify=true
NoDisplay=true
MimeType=application/x-rpm;application/x-redhat-package-manager;


