# this file is meant to test ~/.config/dnfdragora.yaml
# until a dialog cannot manage it directly so copy it to
# ~/.config/dnfdragora.yaml to test the function
# To avoid confusion 'view' is less priority compared to
# 'settings' prefs so on exit the entry 'view' is saved but
# 'settings will override them if 'show updates at startup' is True
# or 'do not show groups at startup' is True
#
settings:
  always_yes: false
  do not show groups at startup: false
  interval for checking updates: 180
# hide_update_hide update menu in dnfdragora-update if no updates present
  hide_update_menu : True
#  log:
#    directory: HOMEPATH_TO_LOG_DIR (can be set from user settings dialog)
#    enabled: true
#    level_debug: true
  metadata:
    last_update:
    update_interval: 48
  search:
    match_all: true
    newest_only: false
  show updates at startup: true
view:
  filter: to_update
  show: groups
