# this file is meant to test ~/.config/dnfdragora.yaml
# until a dialog cannot manage it directly so copy it to
# ~/.config/dnfdragora.yaml to test the function
# To avoid confusion 'view' is less priority compared to
# 'settings' prefs so on exit the entry 'view' is saved but
# 'settings will override them if 'show updates at startup' is True
# or 'do not show groups at startup' is True
#
view:
    filter: 'installed'
    show: 'all'

settings:
    'show updates at startup': False
    'do not show groups at startup': False
